<div class="film_promo">
    <button class="promo_btn">
        <img class="film_poster" src="https://image.tmdb.org/t/p/w500{{filmImgLink}}" alt="">
        <p class="film_vote">{{filmVote}}</p>
        <p class="film_title">{{filmTitle}}</p>
    </button>
</div>
