<div class="film_promo">
        <img class="film_poster" src="{{filmImgLink}}" alt="No poster for this film">
        <p class="film_title">{{filmTitle}}</p>
        <p class="film_vote">{{filmVote}}</p>
        <button class="film_promo_btn" id="{{filmId}}"></button>
</div>